<% if global_report %>
  <div class="card">
    <h3 class="card-header"><%= global_report.name %></h3>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>VPC</th>
          <th>Uptime</th>
          <th>AVG Response</th>
        </tr>
      </thead>
      <tbody>
        <% reports.each do |r| %>
          <tr class="table-info">
            <td><%= r.vpc.name %></td>
            <td><%= r.built_data :formatted_totals,  'Adjusted Uptime %' %></td>
            <td><%= r.built_data :formatted_totals, 'AVG Response' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
