<div class="navbar navbar-inverse bg-primary" role="navigation">
  <span class="navbar-text">
    <%= link_to 'Dashboard', root_path, class: 'btn btn-info'%>
  </span>
  <span class="navbar-text">
    <%= link_to 'Global Reports', global_reports_path, class: 'btn btn-info'%>
  </span>
  <span class="navbar-text">
    <%= link_to 'VPCs', vpcs_path, class: 'btn btn-info'%>
  </span>
  <span class="navbar-text">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-info') %>
  </span>
</div>
