// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.report-table .red {
  background-color: #f99393;
  text-align: right;
}

.report-table .blue {
  background-color: rgba(141, 213, 255, 1);
  text-align: right;
}
.report-table .green {
  background-color: #8cbf8c;
  text-align: right;
}

.tdcenter {
  text-align: center;
}
.tdleft {
  text-align: left;
}
.report-table {
  border: 1px solid grey;
  background-color: grey;
  td {
    background-color: white;
  }
  thead th {
    text-align: center;
  }
}
