// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.table {
  border: 1px solid grey;
  background-color: grey;

  .red {
    background-color: #f99393;
    text-align: center;
  }

  .blue {
    background-color: rgba(141, 213, 255, 1);
    text-align: center;
  }
  .green {
    background-color: #8cbf8c;
    text-align: center;
  }

  td {
    background-color: white;
    text-align: center;
    font-size: 12px;
  }
  thead th {
    font-size: 14px;
    text-align: center;
    color: white;
  }
}
.tdcenter {
  text-align: center;
}
.tdleft {
  text-align: left;
}


.report-table {
  .red  {
    background-color: #f99393;
    text-align: center;
  }

  .blue {
    background-color: rgba(141, 213, 255, 1);
    text-align: center;
  }
  .green {
    background-color: #8cbf8c;
    text-align: center;
  }

  .tdcenter {
    text-align: center;
  }
  .tdleft {
    text-align: left;
  }
  width: 100%;
  border: 1px solid grey;
  background-color: grey;
  td {
    background-color: white;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
  }
  thead th {
    font-size: 12px;
    text-align: center;
    color: white;
  }
}
