// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.table {
  border: 1px solid grey;
  background-color: grey;

  .red {
    background-color: #f99393;
    text-align: center;
  }

  .blue {
    background-color: rgba(141, 213, 255, 1);
    text-align: center;
  }
  .green {
    background-color: #8cbf8c;
    text-align: center;
  }

  td {
    background-color: white;
    text-align: center;
    font-size: 12px;
  }
  thead th {
    font-size: 14px;
    text-align: center;
    color: white;
  }
  .tdcenter {
    text-align: center;
  }
  .tdleft {
    text-align: left;
  }
}


.report-table {
  width: 100%;
  border: 1px solid grey;
  background-color: grey;
  font-size: 12px;
  .red  {
    background-color: #f99393;
    text-align: center;
  }

  .blue {
    background-color: rgba(141, 213, 255, 1);
    text-align: center;
  }
  .green {
    background-color: #8cbf8c;
    text-align: center;
  }

  .tdcenter {
    text-align: center;
  }
  .tdleft {
    text-align: left;
  }
  td {
    background-color: white;
    font-size: 12px;
    border: 2px solid grey;
  }
  thead th {
    text-align: center;
    background-color: #c3d9ff;
    border: 2px solid grey;
  }
}

.simple-calendar {
  .calendar-heading {
    margin: 10px;
    padding: 5px;
    text-align: center;
    .calendar-title {
      padding: 5px 15px 5px 15px;
      font-size: 18px;
    }
    a {
      border: 1px solid rgba(141, 213, 255, 1);
      padding: 5px 15px 5px 15px;
    }
  }
}


