
<table>
  <caption><%= report[:metadata][:title] %></caption>
  <thead>
    <tr>
      <% report[:header].each do |h| %>
        <th>
          <%= h %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% report[:rows].each do |row| %>
    <tr>
      <% row.each do |d| %>
        <td>
          <%= d %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <% report[:totals].each do |h| %>
        <th>
          <%= h %>
        </th>
      <% end %>
    </tr>
  </tfoot>
</table>
